<br>
<br>
<div style="text-align: center;" >
    <div>
        <!-- <form [formGroup]="form"> -->
      <div>
        
        <label class="key">Enter City Name </label>
            <span>
            <input id="cityname" name ="cityname" type="text" [(ngModel)] ="city" #name="ngModel" (ngModelChange)="city = $event.toUpperCase()" required minlength = "20" placeholder="Please Enter City"/>
            <!-- TODO-use form control or form group and validate city name a required and min length 3 -->
            <span *ngIf="name.errors?.['required']">City name is required</span>
        </span>
    
      </div>
      <div>
            <br>
            <button style="background-color: #b0ccda;" id="btnweatherdetails" (click)="GetWeatherdetails()">Check Weather</button>
      </div>
    <!-- </form> -->
    </div>
  </div>
<br>
<div style="text-align: center;" *ngIf ="showDetails">
    <div>
      <div>
        <label class="key">Weather : </label>
            <span class="value">{{cityweatherdetails.weather}}</span>
      </div>
      <div>
        <label class="key">Local Time : </label>
            <span class="value">{{cityweatherdetails.localtime}}</span>
      </div>
      <div>
        <!-- TODO - add pipe for formatting number to 2 or 3 place decimal -->
      <div *ngIf="!showTemp_F">
        <label class="key">Temperature (Celcius) : </label>
            <span class="value">{{cityweatherdetails.temp_c}}</span>
      </div>
      <div *ngIf="showTemp_F">
        <label class="key">Temperature (Fahrenheit) : </label>
            <span class="value">{{cityweatherdetails.temp_F}}</span>
            
      </div>
        
      <button style="background-color: #b0ccda;" id="btnchangetoFarh" (click)="ShowInFarh()">Change To Fahrenheit</button>
    </div>
      
      
    </div>
  </div>
